html
{
background-color: chartreuse;
}
h1{
    color: blue;
    font-size: 50px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 50px;
}
img {
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blueviolet;
    padding: 50px;
    border: 5px dotted blanchedalmond;
}
#spanId{
    font-size: 50px;
    margin :50px;  
}

